/* Universal Selectors */
:root {
    --white: #fff;
    --dark-blue: #13293d;
    --tan: rgb(255, 250, 241);
    --beige: rgb(255, 234, 197);
    --dark-grey: rgb(54, 54, 54);
    --light-blue: #5da4d3;
}

* {
    margin: 0;
    background-color: var(--tan);
    color: var(--dark-grey);
    font-family: verdana, Helvetica, Arial, sans-serif;
}
/* Element Selectors */
h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {

}


header section {

}

aside {

}

nav p {

}

main  {

}

footer {

}
/* Class Selectors */
.card {
    min-width: 40%;
    margin: 12px;
    padding: 0 15px;
    border: 3px solid var(--dark-grey);
    justify-content: space-around;
}

.card-title {
    background-color: lightblue;
    position: relative;
    margin: 30px;
    padding: 5px;
    width: 20%
}

.quicknav {
    margin: 45px;
    position: fixed;
    top: 0;
    right: 0;
    background: none;
}

.quicknav h3 {
    color: var(--light-blue);
    text-decoration: 2px underline;
    background: none;
    display: inline;
    padding: 5px;
}

.heading h1 {
    color: var(--light-blue);
    background-color: var(--dark-grey);
    padding: 30px;
}

/* Id Selectors */